#banque{
    border: 5px solid black;
    padding:5%;
    margin: auto 10%;
}
#interet{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size : 20pt;
    margin: auto 30%;
}

.radio{
    display:inline-block;
    margin: 2% 2%
}

.action{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border : 5px solid black;
    padding:1%;
    margin: 5% 30%;
}
