section div{
    display:inline-block;
    width: 49%;
}
section div img{
    width:300px;
    margin: auto;
    display: flex;
    justify-content: center;
    vertical-align:center;
}
div p{
    text-align:center;
    margin-bottom: 80px;
    font-size:22px;
}
div p a{
    text-decoration:none;
    cursor:pointer;
    color:black;
}
section img:hover{
    cursor:pointer;
}